<h1>Posts#index</h1>
<h2>LOOK AT MAH AWSUM DESIGN SKILLZ</h2>
<p>Find me in app/views/posts/index.html.erb</p>

There are current <%=pluralize(@posts.count, 'post')%>

  <% @posts.each do |p| %>
    <h3><%= p.title %></h3>
    Some info on the post...
    <hr/>
  <% end %>

