<h1>Editing post</h1>

  <p>
    PostID: <br />
    <input type="text" value="<%= @post.PostID %>"/>
  </p>
  <p>
    Title: <br />
    <input type="text" value="<%= @post.Title %>"/>
  </p>
  <p>
    <input type="submit" value="Create"/>
  </p>
